In [1]:
#Import Dependencies
import pandas as pd

import sqlite3

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.ext.declarative import declarative_base

In [2]:
#Create file paths for cleaned csv files
path_1 = "Resources/data/clean_hawaii_measurements.csv"
path_2 = 'Resources/data/clean_hawaii_stations.csv'
#Read csv files in pandas
hi_measure = pd.read_csv(path_1)
hi_stations = pd.read_csv(path_2)

In [3]:
#cleaned pd of measurements file
print("Shape:" + str(hi_measure.shape))
hi_measure.head()

Shape:(19550, 4)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [4]:
#cleaned pd of stations file
print("Shape: " + str(hi_stations.shape))
hi_stations.head()

Shape: (9, 6)

,station,name,latitude,longitude,elevation,location
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168)
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6,POINT(21.4234 -157.8015)
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0,POINT(21.5213 -157.8374)
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9,POINT(21.3934 -157.9751)
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6,POINT(21.4992 -158.0111)

In [5]:
Base = declarative_base()

In [6]:
#import data types for sqlalchemy
from sqlalchemy import Column, Float, Integer, String 

#create class for 'Measurement'
class Measurement(Base):
    __tablename__ = 'measurement'
    measurement_id = Column(Integer,primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

#create class for 'Station'
class Station(Base):
    __tablename__ = 'station'
    station_id = Column(Integer,primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(String)

In [7]:
engine = create_engine("sqlite:///hawaii2.sqlite", echo=False)
session = Session(bind=engine)
conn = engine.connect()
Base.metadata.create_all(engine)

In [8]:
# add 'measurement' table to the 'hawaii' db and replace if already run before

hi_measure.to_sql(Measurement.__tablename__,conn,if_exists='append',index_label='measurement_id')

# with engine.connect() as con:
#     con.execute('ALTER TABLE `Measurement` ADD PRIMARY KEY ==`station`;')
# Read the newly created 'Measurement' Table as a pd
hi_measures = pd.read_sql("SELECT * FROM Measurement",conn)
#Print shape pd and provide head
print("Shape:" + str(hi_measures.shape))
hi_measures.head()

Shape:(19550, 5)

   measurement_id      station        date  prcp  tobs
0               0  USC00519397  2010-01-01  0.08    65
1               1  USC00519397  2010-01-02  0.00    63
2               2  USC00519397  2010-01-03  0.00    74
3               3  USC00519397  2010-01-04  0.00    76
4               4  USC00519397  2010-01-06  0.00    73

In [9]:
# add 'station' table to the 'hawaii' db and replace if already run before
hi_stations.to_sql(Station.__tablename__,conn,if_exists='append',index_label='station_id')

# Read the newly created 'Station' Table as a pd
hi_stations = pd.read_sql("SELECT * FROM Station", conn)
print("Shape: " + str(hi_stations.shape))
hi_stations.head()

Shape: (9, 7)

,station_id,station,name,latitude,longitude,elevation,location
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168)
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6,POINT(21.4234 -157.8015)
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0,POINT(21.5213 -157.8374)
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9,POINT(21.3934 -157.9751)
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6,POINT(21.4992 -158.0111)